@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #010811;
}

.styles_typicalWrapper__1_Uvh {
  font-weight: 700;
  font-size: 39px;
  line-height: normal;
  color: #FFF;
}

.technics .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
} */

/* esconder scrollbar (opcional) */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { scrollbar-width: none; }

/* cursor ao arrastar */
.cursor-grab { cursor: grab; }
.grabbing { cursor: grabbing !important; }
